# SQL Interview Questions  - Quiz

## Introduction

In this lesson, we'll go through a short quiz containing the types of questions about SQL and relational databases that you can expect to see in an interview. 



## SQL Interview Questions

This quiz contains questions on topics you can expect to see in an interview pertaining to SQL and Relational Databases. Some of them are multiple choice, while some are short answer. For these short answer questions, double click on the Jupyter Notebook and type your answer below the line. 

## Question 1

what are the 4 main datatypes in SQLite3? Can we use other common types from other kinds of SQL?

Type your answer below this line:
_______________________________________________________________________________________________________________________________
The four main datatypes in SQLite3 are integer (ie. whole numbers), text (ie. strings), real (ie. floats) and blob (other datatypes like binary information).  Other common types of data are usable as they will be lumped into one of these main 4 datatypes.




## Question 2

Explain the relationship between **Primary Keys** and **Foreign Keys**.

Type your answer below this line:
_______________________________________________________________________________________________________________________________
Primary keys are keys unique to a given table.  Foreign keys are a column in a table that refer to primary keys of another table.  We can use foreign keys to join the primary keys of seperate tables.




## Question 3

Explain the different types of relationships entities can have in a SQL database. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
There are three types of relationships between entities in a SQL database.  They are one-to-one, one-to-many, and many-to-many.  A one-to-one relationship means that each key relates to only one other key in a separate table.  A one-to-many relationship is a little more complex.  This involves one key in a table referencing multiple keys in a seperate table.  For example, one table may refer to an office using an office code, but in a seperate table there can be several employees who each are assigned to this office code.  The single office code key refers to many employees in a seperate table.  Finally there is the many-to-many relationship.  In this relationship there are several keys between tables that reference each other.  For example, imagine a table that lists offices in several cities.  In a separate table there is a list of customers in each of those cities.  This is a many-to-many relationship as the city column can reference each office and each customer.

## Question 4

Explain the various types of JOINs possible with SQL. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
There are 4 types of JOINs with SQL.  The first is an inner join.  This type will return any keys that are found in both tables.  Then there is the left join, which takes the entirety of the left table and adds any matching keys from the right table.  A default join command is a left join.  Next is the right join, which is the inverse of the left join.  The entire right table is returned with any matching keys from the left table.  Finally, there is the outer join which is the inverse of the inner join.  It will return any keys that are unique to one of the tables.


## Question 5

Explain the relationship between Aggregate functions and GROUP BY statements.

Type your answer below this line:
_______________________________________________________________________________________________________________________________
Aggregate functions are a convenient way of calculating sums, averages and counts of information stored within tables.  Group by statements allow us to take information stored within a table and sort it into like categories.  By combining the two of these together, we are able to compute the aggregate functions of groups, rather than the aggregate functions of the entire table.  For instance, we can compute the average count of employees who work in each city, rather than just the count of all of the employees. 


## Question 6

What role do Associative Entities play (JOIN Tables) in many-to-many JOINs?


Type your answer below this line:
_______________________________________________________________________________________________________________________________
A JOIN table is a table created to keep track of all of the connections in a many-to-many join.  It will store each key from one table and reference each key from a second table that matches the key from the frist table.  It effectively turns a many-to-many join into multiple one-to-many joins.


## Summary

In this lesson, we practiced answering open-ended interview questions for SQL and Relational Databases.